/* box sizing */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


/* animations */
@-webkit-keyframes wiggle {
    from {-webkit-transform: rotateZ(3deg);}
    50% {-webkit-transform: rotateZ(-3deg);}
    to {-webkit-transform: rotateZ(3deg);}
}
@keyframes wiggle {
    from {transform: rotateZ(3deg);}
    50% {transform: rotateZ(-3deg);}
    to {transform: rotateZ(3deg);}
}
.wiggler {
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


/* normalize */
h1, p {
    margin: 0;
}
ul, li {
    list-style-type: 0;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* text */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.lighttext {
    font-weight: 200;
}
a.green-link {
    color: #17a98c;
}


/* columns and sections */
.column-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 425px;
    overflow: hidden;
    background: #fff;
}
.innercolumn {
    margin: 0 auto;
    max-width: 970px;
    overflow: hidden;
}
.three-col {
    padding: 15px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    text-align: left;
}
.four-col {
    padding: 15px 40px;
    width: 25%;
    float: left;
    vertical-align: top;
    line-height: 25px;
}
@media screen and (max-width: 865px){
    .three-col , .four-col{
        width: 100%;
        text-align: center;
    }
}
.whitesection {
    background: #fff;
    color: #7f8c8d;
    padding: 110px 40px;
    text-align: center;
}
.whitesection h1,
.whitesection h2 {
    color: #2c3e50;
    font-weight: 200;
    font-size: 30px;
}
.whitesection h1 {
    font-weight: 300;
}
.whitesection h2 {
    font-size: 22px;
}
.whitesection .innercolumn {
    margin-top: 65px;
    margin-bottom: 53px;
    line-height: 36px;
}


/* buttons */
.button {
    font-weight: 500;
    display: inline-block;
    border-radius: 6px;
    padding: 9px 20px;
    margin: 0 15px;
    font-size: 18px;
    color: #fff;
}
.button-solid-green {
    background: #17a98c;
    border: 2px solid #17a98c;
}
.button-outline-white {
    background: transparent;
    border: 2px solid #fff;
}
.button-outline-green {
    background: transparent;
    border: 2px solid #17a98c;
    color: #17a98c;
}
.button-email {
    display: block;
    margin: 0;
    padding: 0;
    width: 132px;
    height: 45px;
    border: 0;
    text-indent: 100%;
    background: url(../img/email-button.png) top left no-repeat;
    cursor: pointer;
}


/* tools */
.toggler {
    display: none;
}


/* stickynav */
.stickynav {
    height: 80px;
    background: #0e0d0e;
    top: 0;
    left: 0;
    right: 0;
}
.stickynav.fixed {
    position: fixed;
    z-index: 1;
}
.stickynav.fixed + section {
    margin-top: 80px;
}
.nav-content {
    margin: 0 auto;
    max-width: 980px;
    min-width: 425px;
    padding: 15px;
}
.stickynav-list {
    float: right;
}
.stickynav-list,
.stickynav-item {
    display: inline-block;
}
.stickynav-item {
    font-weight: 500;
    margin-right: 26px;
    font-size: 18px;
}
.stickynav-item a {
    color: #fff;
}
.social-media {
    position: relative;
    top: 15px;
    margin-left: 7px;
}
.social-media a {
    display: block;
    width: 25px;
    height: 24px;
    text-indent: 100%;
    overflow: hidden;
}
.social-media .stickynav-item {
    margin-right: 13px;
}
.social-media .stickynav-item:last {
    margin-right: 0;
}
.social-media .twitter {
    background: url(../img/twitter-logo-white.png) top left no-repeat;
}
.social-media .linkedin {
    background: url(../img/linkedin-logo-white.png) top left no-repeat;
}
.social-media .gplus {
    background: url(../img/gplus-logo-white.png) top left no-repeat;
}
.burger-menu {
    display: none;
    float: right;
    width: 24px;
    height: 24px;
    background: #fff;
    position: relative;
    margin-left: 10px;
    text-indent: 100%;
    background: url(../img/burger-icon.png) top left no-repeat;
    cursor: pointer;
}
@media screen and (min-width: 860px){
    .page-links {
        position: relative;
        top: 15px;
    }
}
@media screen and (max-width: 860px){
    .page-links {
        display: none;
    }
    .social-media {
        float: right;
        top: 16px;
    }
    .burger-menu {
        display: block;
        top: 16px;
    }
    #toggle-content:checked ~ .page-links {
        padding: 15px;
        display: block;
        width: 100%;
        background: #111;
        position: absolute;
        right: 0;
        margin-top: 25px;
        border-top: 1px solid #252525;
    }
    .fixed #toggle-content:checked ~ .page-links {
        position: fixed;
        top: 80px;
        right: 0;
        margin-top: 0;
    }
    #toggle-content:checked ~ .page-links .stickynav-item {
        display: block;
    }
}


/* scroll background effect */
.scrollbg-image {
    position: absolute;
}


/* click to active google maps */
.maps-click-to-active {
    position: absolute;
    margin-top: -340px;
    height: 340px;
    cursor: pointer;
    width: 100%;
}


/* contact form */
.contactform {
    margin: 40px 90px;
    text-align: left;
}
@media screen and (max-width: 625px){
    .contactform {
        margin: 40px 0;
    }
}
.contactform-left, 
.contactform-right {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}
.contactform-left {
    width: 330px;
}
.contactform-label {
    display: block;
    height: 45px;
    font-weight: 500;
    color: #34495e;
    font-size: 18px;
}
.contactform-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ebedee;
}
.contactform-input:focus {
    outline: 0;
    border: 2px solid #ccc;
}
.contactform-textarea {
    width: 455px;
    height: 155px;
}
@media screen and (max-width: 540px){
    .contactform-textarea {
        width: 300px;
    }
}

